*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: linear-gradient(-35deg, rgb(52, 84, 226), rgb(167, 208, 255) ) ;
    height: 100vh;
    background-repeat: no-repeat;
}
.wrapper span{
    position: fixed;
    animation: animate 10s linear infinite;
    font-size: 60px;
    z-index: -1;
    bottom: -80px;

}
.wrapper span:nth-child(1){
    left: 60px;
    animation-delay: 0.6s;
}
.wrapper span:nth-child(2){
    left: 10%;
    animation-delay: 3s;
}
.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
}
.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
}
.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
}
.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
}
.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
    
}
.wrapper span:nth-child(11){
    left: 45%;
    animation-delay: 4s;
}
.wrapper span:nth-child(12){
    left: 55%;
    animation-delay: 10s;
}
.wrapper span:nth-child(13){
    left: 65%;
    animation-delay: 9s;
}
.wrapper span:nth-child(14){
    left: 75%;
    animation-delay: 1s;
}
.wrapper span:nth-child(15){
    left: 80%;
    animation-delay: 10s;
}
.wrapper span:nth-child(16){
    left: 90%;
    animation-delay: 7s;
    
}
.wrapper span:nth-child(17){
    left: 80px;
    animation-delay: 1.5s;
}
.wrapper span:nth-child(18){
    left: 15%;
    animation-delay: 6s;
}
.wrapper span:nth-child(19){
    left: 25%;
    animation-delay: 4.5s;
}
.wrapper span:nth-child(20){
    left: 35%;
    animation-delay: 7.5s;
}
.banner{
    display: flex;
    flex-direction: column; /* Center content vertically */
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    background: rgba(255, 255, 255, 0.349);
    z-index: 1;
}

@keyframes animate {
    0%{
        transform: translateY(0);
        opacity: 1;
        
    }
    50%{
        opacity: .0;
       
    }
    100%{
        transform: translateY(-1000px) rotate(360deg);
        opacity: 0;
        
    }
    
}
.container{
    box-sizing: content-box;
    width: 26.87em;
    padding: 25px 30px 7px;
    color: #ffffff;
    text-shadow: 0 3px 3px rgba(11, 18, 82, 0.705);
    background-color: #ffffff7c;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 48%;
    top:48%;
    margin: 10px;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgba(11, 18, 82, 0.705);
    border-top: 2px solid #ffffff ;
    border-bottom: none ;
    border-right: 1px solid #ffffffab ;
    border-left: 1px solid #ffffffab ;
   
}
.game-container{
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
    margin-top: 15px;

}
.stats-container {
    text-align: right;
    margin-bottom: 1.2em;
  }
.stats-container span{
    font-weight: 600;
}
.stats-container h2{
   
    text-align: left;
}
.card-container{
    position:relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
}
.card-before{
    background-color:rgba(149, 164, 235, 0.637);
    font-size: 2.8em;
    font-weight: 600;
    border-radius: 5px;
   
}
.card-after {
    background-color: #ffffff;
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-before {
    transform: rotateY(180deg);
  }
  .card-container.flipped .card-after {
    transform: rotateY(0deg);
  }
.control-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(-35deg, rgb(52, 84, 226), rgb(167, 208, 255) ) ;
    top: 0;
    color: #ffffff;
    text-shadow: 0 2px 2px #333;
    transition: 1s;
    
}
button{
    border: none;
    border-radius: 0.3em;
    padding: 1em 1.5em;
    cursor: pointer;
    margin: 1.1em auto 0 auto;
    

}
#refresh {
    margin: 10px;
    align-items: left;
    font-size:1.1em ;
    display: inline;
    padding: 10px;
    box-shadow: 0 9px 15px rgba(34, 34, 48, 0.589);
    border: 1px solid #201e1e;
    transition: 0.25s;
}
#stop{
    font-size:1.1em ;
    display: inline;
    padding: 15px;
    margin: 0.5em auto -5px;
    box-shadow: 0 9px 15px rgba(34, 34, 48, 0.589);
    background-color: rgb(52, 84, 226);
    border: 1px solid #201e1e;
    color: white;
    transition: 0.25s;
    
}
.control-container button {
    font-size: 1.3em;
    box-shadow: 0 0.6em 2em rgba(11, 18, 82, 0.705);
}
.hide{
    display: none;
}
#result{
    text-align: center;

}
#result h2{
    font-size: 2.5em;
}
#result h4{
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;
}
#refresh:hover{
    background-color: rgb(169, 170, 172);
    color: black;
    box-shadow: inset 2px 2px #333333a4;
    border: 1px solid #201e1e;
    color: white ;
    text-shadow: 0 0.9px 2.8px rgb(177, 178, 255);
}
#stop:hover{
    background: rgb(133, 147, 207);
    color: white ;
    text-shadow: 0 0.9px 2.8px rgb(243, 244, 253);
    box-shadow: inset 2px 2px #333333a4;
    border: 1px solid #201e1e;
}

#start:hover{
    
    text-shadow: inset 0 2px 3px #faf8f8a4   ;
    box-shadow: inset 0 3px 2px #0c0c0cad,  0 0.9em 2.8em rgba(196, 212, 255, 0.705);
}
